<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Log In</h5>
                <form [formGroup]='loginForm' (ngSubmit)="onSubmit()">
                    <label>Email address:</label>
                    <input formControlName="userEmail" id="inputEmail" class="form-control mb-2"
                        placeholder="Email address">
                    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit"
                        [disabled]='!loginForm.valid'>Log in</button>
                </form>
                <a class="mt-5" [routerLink]="['/register']">Not regiserted? Register</a><br>
                <a class="mt-5" [routerLink]="['/deleteAccount']">Want to delete your accout?</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>