<table class="table table-hover">
    <thead>
      <button class="btn btn-primary" (click) = "onToggleListClicked()">Switch Shared/Owned list</button>
        <tr>
            <th *ngFor="let head of headElements"> {{head}} </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let el of documents">
            <td>{{el.docName}}</td>
            <td>{{el.docOwner}}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/editDocument',el.docId]">Edit Document</button>
                <button class="btn btn-secondary" (click)="openShareModal(el.docId)">Share Document</button>
                <button class="btn btn-danger" (click) = "openDeleteModal(el.docId,el.docName)">Delete Document</button>
            </td>
        </tr>
    </tbody>
</table>