<nav id="toolbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <button #btn class="btn btn-primary col-3 mr-2" (click) = "onCircleClicked()">
        <fa-icon [icon]="circle"></fa-icon>
    </button>
    <button class="btn btn-success col-3 mr-2" (click) = "onRectangleClicked()">
        <fa-icon [icon]="square"></fa-icon>
    </button>
    <button class="btn btn-danger col-3 mr-2" [disabled]="!isMarkerSelected">
        <fa-icon [icon]="delete"></fa-icon>
    </button>
    <button class="btn btn-secondary col-3 pr-2" [routerLink]="['/actions']">
        <fa-icon [icon]="arrow"></fa-icon>
    </button>
</nav>
<div #container id="container" class="main">
    <canvas #shapeCanvas id = "shapeCanvas" class='canvas'></canvas>
    <canvas #drawingCanvas id = "drawingCanvas" class='canvas'></canvas>
</div>